node_modules
backups
tests
chunkdata
.env
backup
src/db/database.sqlite
logs
utils/netconfig.sh
utils/commands.txt
utils/net-updatecf.sh
utils/recorder/
src/db/config/config.json
package-lock.json
chunkinfo/dump.js
chunkinfo/shit.txt
chunkinfo/
db.sql
